@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'vestigia';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(92% 0.006 264.531);
  --color-primary: oklch(87.14% 0.286 141.53);
  --color-primary-content: #0e2a0c;
  --color-secondary: oklch(48.75% 0.214 303.58);
  --color-secondary-content: #d4a5ff;
  --color-accent: oklch(75.9% 0.177 60.637);
  --color-accent-content: #925100;
  --color-neutral: oklch(18.2% 0 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

body {
  @apply bg-base-200;
}

#app {
  @apply min-h-dvh;
}
